# Lab 1: Pandas Basics
This lab will introduce you to basic Python and `pandas`

In [1]:
import pandas as pd

In [2]:
import datetime

In [3]:
# read in data

weather = pd.read_csv('last_ten_alb.csv')

In [4]:
weather.head()

,Unnamed: 0,timestamp,mean_tmp,mean_tmp_f,dew_point,dew_point_f,mean_sea_level_press,mean_sea_level_press_f,mean_stn_pressure,mean_stn_pressure_f,...,tornado_f,station_id,ctry,state,station_name,lat,lon,elevation,begin,end
0,0,2012-01-01,5.333333,24,36.0,24,1013.5,22,1003.5,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
1,1,2012-01-02,3.722222,24,27.4,24,1003.9,23,992.9,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
2,2,2012-01-03,-5.888889,24,9.3,24,1012.5,24,1001.0,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
3,3,2012-01-04,-11.777778,24,-1.1,24,1020.8,24,1009.5,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
4,4,2012-01-05,-3.833333,24,12.8,24,1012.2,22,1001.0,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27

In [5]:
weather.describe()

,Unnamed: 0,mean_tmp,mean_tmp_f,dew_point,dew_point_f,mean_sea_level_press,mean_sea_level_press_f,mean_stn_pressure,mean_stn_pressure_f,visib,...,snow_depth,fog_f,rain_or_drizzle_f,snow_or_ice_pellets_f,hail_f,thunder_f,tornado_f,lat,lon,elevation
count,3888.000000,3888.000000,3888.000000,3888.000000,3888.000000,3886.000000,3888.000000,3873.000000,3888.000000,3888.000000,...,681.000000,3888.000000,3888.000000,3888.000000,3888.000000,3888.000000,3888.0,3.888000e+03,3.888000e+03,3.888000e+03
mean,178.212449,10.148448,23.995628,38.386548,23.995370,1016.921256,22.544753,1006.107255,23.979681,9.301080,...,3.897944,0.170267,0.424897,0.201646,0.002058,0.075360,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
std,104.738930,10.505663,0.272638,19.387607,0.273105,7.425407,2.424163,7.362618,0.419304,1.362187,...,3.692814,0.375916,0.494391,0.401281,0.045320,0.264005,0.0,2.345093e-12,8.527610e-13,6.225155e-12
min,0.000000,-20.444444,7.000000,-22.400000,7.000000,990.600000,7.000000,978.600000,7.000000,1.200000,...,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
25%,88.000000,1.722222,24.000000,23.400000,24.000000,1012.100000,22.000000,1001.400000,24.000000,9.200000,...,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
50%,176.000000,10.777778,24.000000,39.000000,24.000000,1016.600000,24.000000,1005.900000,24.000000,10.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
75%,268.000000,19.611111,24.000000,55.200000,24.000000,1021.700000,24.000000,1010.800000,24.000000,10.000000,...,5.100000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
max,365.000000,31.111111,24.000000,73.500000,24.000000,1041.900000,24.000000,1030.600000,24.000000,13.700000,...,20.900000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01